<div class="box-shadow jumbotron jumbotron-fluid bg-dark text-light">
  <div class="container">
    <h1 class="display-4">HelpDesk</h1>
    <p class="lead">Contacta con expertos para solucionar tus problemas de salud, visita el mapa del COVID-19 creado con Datos Abiertos o revisa nuestras recomendaciones y recursos.</p>
  </div>
</div>
